.title_background{
    background: url('../../../public/background_blog.png');
    background-color: black;
    background: cover;
    background-repeat: no-repeat;
    background-position-y: 44%;
    background-position-x: 55%;
    height: 80vh;
    width: 100%;
}

.white_logo {
    filter: brightness(0) invert(1);
    width: 66.5px;
    height: 72.16px; 
    display: center;
    justify-content: center;
}

.blockText{
    height:100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Title_White{
    color: white;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    letter-spacing:-4%
}

.second_title{
    color:white;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding:0px;
    margin:0px;
    letter-spacing:-4%    
}
