
.column{
    padding: 0rem 0rem 4rem 0rem;
    width: 1/5;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    }
    
    .title_column{
      width: 20%;
      color:white;
      font-family: 'Exo';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: -0.01em;
      width: 100%;
      padding: 2rem 2rem 2rem 0;
      border-bottom: 1px solid #333333;
    }
    
    
    
    .all_item_column {
      margin-top:2rem;
    }
    
    .item_column {
      text-decoration: none;
      padding:2rem 0rem;
      margin-right: 2rem;
      color: #A3A3A3;
      font-family: 'Exo';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 30px;
    
    }
 
    