@import url('https://fonts.googleapis.com/css?family=Exo:400,600,700');

body {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  background: url('../public/background.svg');
  background-size: cover;
  min-height: 100vh;
  font-family: Exo;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Nav {
  padding-top: 37px;
}

.NavElem {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  margin-left: 14px;
  margin-right: 14px;
  transition: opacity 0.2s
}

.NavElem:hover {
  opacity: 0.7;
}

.TextGradient {
  background: linear-gradient(to right, #2AF598, #009EFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.Enter {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

@media (max-width: 767px) {
  .Enter {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .Enter {
    position: absolute;
    top: 38px;
    right: 53px;
    text-align: right;
    width: 150px;
  }
}

.Logo {
  margin-top: 18vh;
}

@media (max-width: 767px) {
  .Logo {
    margin-top: 8vh;
  }
}

.Title {
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: -0.01em;
}

.SubTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.SubSubTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.01em;
  background: linear-gradient(173.58deg, rgba(255, 255, 255, 0.5) 5.06%, rgba(255, 255, 255, 0) 106.72%), linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.MainButtons {
  margin-top: 7.7vh;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .MainButtons {
    flex-direction: column;
    align-items: center;
  }

  .ButtonElem {
    margin-bottom: 20px;
  }
}

.ButtonElem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  height: 48px;
  border-radius: 13px;
  width: 156px;
  background: url('../public/button-borders.svg');
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  transition: opacity 0.2s
}

.ButtonElem:hover {
  opacity: 0.7;
}

.CenterElem {
  margin-top: 8px;
}

.FooterBar {
  /* FIXME: overlaps with content on small height screens */
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 25px;
  justify-self: end;
  align-self: end;
  flex-wrap: wrap;
}

.FooterButton {
  border: 1px solid #1B1E1F;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
  transition: opacity 0.2s
}

.FooterButton:hover {
  opacity: 0.7;
}